*{
    font-family: 'Roboto', sans-serif;
    color: rgb(10, 10, 10);
}

/* header */
header{
    margin: 1.5rem;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    background-image: url(../img/header_floss.jpg);
    background-size: cover;
    border-radius: 3rem;
    text-align: center;
}

.header_text {
    padding: 1rem;
}

.header_text h3 {
    margin-top: 1rem;
}

/* main */
main{
    text-align: center;
}

.section_principal{
    display: flex;
    justify-content: center;
}

.section_principal img{
    width: 25%;
    margin: 2rem;
    border-radius: 3rem;
}

.section_text{
    margin: 6rem 2rem;
    width: 15rem;
    font-size: large;
}

.section_text h3{
    background-color: rgb(219, 219, 219);
}

/* footer */

footer{
    margin: 0rem 5rem;
    height: 2.5rem;
    text-align: center;
    background-image: url(../img/header_floss.jpg);
    background-size: cover;
    border-radius: 3rem;
}

footer p {
    padding-top: 0.75rem;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    color: rgb(170, 124, 56);
}